
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 5.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" name="sform" action="/register"  method="POST" >
  <img class="mb-2" src="https://www.msrcosmos.com/wp-content/themes/msrcosmos_050219/assets/images/msrcosmos-logo.svg" alt="" width="172" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>

  <input type="text" name="fname" class="form-control" placeholder="First Name" required autofocus>

  <input type="text" name="mname" class="form-control" placeholder="Middle Name" required>

  <input type="text" name="lname" class="form-control" placeholder="Last Name" required autofocus>

  <input type="email" name="username" class="form-control" placeholder="abc@gmail.com" required>

  <input type="text" name="phone" id="phone" class="form-control" placeholder="976565778" required >

  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Confirm Password" required>

  <input type="submit" class="btn btn-lg btn-primary btn-block" onclick="return Validate()" value="register">
 <p>Aldready have an account? <a href="/">Login</a></p>
</form>
</body>
</html>
<script type="text/javascript">
function Validate()
{
        var x = document.sform.phone.value;
        var y= document.sform.password.value;
         var z= document.sform.cpassword.value;

        if(isNaN(x)|| x.indexOf(" ")!=-1){
              alert("Enter numeric value");return false; }
        if (x.length < 9 || x.length > 10 ){
                alert("enter 10 digits"); return false;
           }
        if (x.charAt(0)!="9"){
                alert("it should start with 9");
                return false;
           }
        if(y!=z){
          alert("Please enter same password");
          return false;
        }   
}
</script>
